body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container p{
    font-size: 1.4rem;
    text-align: justify;
}
/********************** HEADER *************************/
header{
    top: 0;
    z-index: var(--z-index-header);
    position: fixed;
    width: 100%;
}
.box{
    top: 0;
}
header nav#menu{
    top: 0;
}
/* .container{
    z-index: var(--z-index-container);

} */
header h1{
    margin: 0px;
    padding: 20px;
}




/********************* ACCUEIL *****************************/
.container{
    z-index: var(--z-index-container);
    margin-bottom: 0px;
    margin-top: 0px;
}
.container-nav{
    height: 90vh;
    width: 100%;
    background-image: url(/assets/images/accueil/plant-.jpg);
    background-repeat: no-repeat;
    background-position-x: 60%;
    background-size: cover;
}


.container-nav .description{
    padding-top: 40px;
    left: 50px;
    top: 50px;
    position: absolute;
}
.container-nav .description nav {
    font-size: 4rem;
    font-weight: bold;
}
.container-nav .description p {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
}


/******************* Z-INDEX ***************/

/* .header{
    z-index: var(--z-index-header);
}
.footer{
    z-index: var(--z-index-footer);
}
.resum-banner-container {
    z-index: var(--z-index-resum-banner-container);
}
.container-apropos {
    z-index: var(--z-inddex-container-apropos);
}
.container-competences {
    z-index: var(--z-index-container-competences);
}
.container-contact {
    z-index: var(--z-index-container-contact);
}
.container-profolio {
    z-index: var(--z-index-container-profolio);
} */

/*********************** NAV ************************/

nav#menu ul{
    background-color: rgb(0, 128, 68);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    top: 0;
}
nav#menu ul li:hover{
    background-color: rgb(15, 201, 114);
}

nav#menu ul li a{
    white-space: nowrap;
    height: 100px;
    padding-top: 30px;
    line-height: 50px;
    color: inherit;
    font-size: 2rem;
    text-decoration: inherit;
    gap: 50px;
    top: 0;
}



/*********************** FOOTER ***************************/
footer{
    background-color: rgb(00, 128, 68);
    height: 150px;
    margin: 0px;
}
footer div, footer P{
    color: white;
    text-align: center;
    font-size: 1.8rem;
}
footer h2{
    color: white;
    /* font-size: 1.8rem; */
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}
footer{
    position: relative;
    bottom: 10px;
    z-index: var(--z-index-footer);
}



/********************************* MADIA **************************************/


@media screen and (max-width: 768px){
    header ul li a{
        display: block; 
    }
    
    header .container-fluid {
        background-color: rgb(0, 128, 68);
    }
    nav#menu ul li a{
        font-size: 1.4rem;
    }
    .container {
        flex-wrap: wrap;
    }
    .navbar .container-fluid .navbar-toggler span{
        justify-content: space-between;
    }
    .navbar .container-fluid  {
        justify-content: space-between;
        
    }
}
@media screen and (max-width: 700px) {
    nav#menu >ul{
        flex-direction: column;
        gap: 0;
    }
    #menu >ul li{
        text-align: center;
        border-bottom: 0.1px solid #ccc;
    }
    #menu >ul >li:last-child{
        border: none;
    }
}
@media screen and (max-width: 540px) {
    
    header .icon .fa-bars:hover{
        cursor: pointer;
    }
    header .icon h1{
        display: block;
        font-size: 2rem;
    }
    
    .flex-1 h1{
        font-size: 1.3rem;
    }
    header ul li a{
        display: block; 
        height: var(--height-unit);
        line-height: var(--height-unit);
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    footer h2{
        font-size: 1.8rem;
    }
    
}

@media screen and (max-width: 280px){
    
}