.container-apropos {
   margin: 50px;
}
.container-apropos .description p{
   font-size: 1.8rem;
}
.container-apropos .description h1{
   /* font-size: 1.8rem; */
   color: rgb(0, 128, 68);
}

.container-apropos .content h2{
   color: rgb(0, 128, 68);
   text-align: center;
   font-size: 2rem;
}
.container-apropos .content p{
   font-size: 1.8rem;
   text-align: justify;
}

/************************ MEDIA ****************************/

/* @media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
   .container-porfolio .image{
      display: block;
   }
   .container-porfolio  .image img {
      height: 300px;
      width: 300px;
  }
  .container-porfolio .description{
   display: block;
  }
  .container-porfolio  .image-descripts img{
   height: 500px;
   width: 300px;
}
.container-porfolio .description p{
  font-size: 1.2rem;
}
.container-porfolio .description h1{
  font-size: 1.4rem;
  padding-top: 10px;
  font-weight: bold;
}
.container-porfolio .content h2{
  font-size: 1.4rem;
  font-weight: bold;
}
.container-porfolio .content p{
  font-size: 1.2rem;
}
}
@media screen and (max-width: 576px) {
   .container-porfolio  .image-descripts img{
      height: 600px;
      width: 480px;
   }
}
@media screen and (max-width: 427px) {
   .container{
      
   }
  
} 
@media screen and (max-width: 280px) {
   .container-porfolio  .image-descripts img{
      height: 300px;
      width: 200px;
   }
  
}  */