
.container .container-apropos {
   padding-top: 100px;
}
.container .container-apropos .info p{
   font-size: 1.8rem;
}
.container-apropos  .info  img{
  border-radius: 50px;
  height: 800px;
  margin-bottom: 20px;
}
.container-apropos .info h2{
   color: rgb(0, 128, 68);
   padding-top: 30px;
}
.container-apropos .info h1{
   font-size: 3rem;
   font-weight: bold;
   color: rgb(0, 128, 68);
   padding-top: 30px;
   text-transform: uppercase;
   padding-bottom: 20px;
   text-align: center;
}

.container-apropos .content h2{
   color: rgb(0, 128, 68);
   text-align: center;
   font-size: 2rem;
   padding-top: 50px;
   font-weight: bold;
}
.container .container-apropos .content p{
   font-size: 1.8rem;
   text-align: justify;
}

/************************ MEDIA ****************************/

@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
   .container .container-apropos{
      padding-top: 100px;

   }
  
   .container-apropos  .info .image-descripts {
     display: block;
   }
   .container-apropos  .info .image-descripts img {
     display: block;
     height: 500px;
   }
   .container .container-apropos .info h1{
      font-size: 1.8rem;
   }

}
@media screen and (max-width: 576px) {
   .container .container-apropos{
      padding-top: 500px;

   }
}
@media screen and (max-width: 427px) {
  
  
} 
@media screen and (max-width: 280px) {
   
  
} 