/************************ CONTACT ******************************/

.container-contact{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 130px;
    gap: 30px;

}
.container{
    margin-bottom: 30px;
}
.container-contact .content{
    margin-top: 30px;  

}
.container-contact .container h3{
   color: rgb(0, 128, 68);
   font-size: 2rem;
   font-weight: bold;
   padding-top: 20px;
   text-transform: uppercase;
   text-align: center;
}

/***************** FIRST CONTAINER *******************/
.container-contact .container h1{
    font-size: 3rem;
    color: rgb(0, 128, 68);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.container-contact .container .image img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
.container-contact .container .image h4{
    font-size: 1.8rem;
}
/********************* SECOND CONTAINER ***************************/


.first-section-us .first-section h2{
    color: rgb(0, 128, 68);
    
}
/***************************** SECOND SECTION ********************/
.second-section-us .form-row  input{
    margin-top: 10px;
    height: 40px;
    background-color:#efefef;
    outline: none;
    
}
.second-section-us .form-row .name,
.second-section-us .form-row .mail{
    padding-left: 10px;
    padding-left: 10px;
    
}
.form-row input{
    width: 320px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.form-row  .message{
    width: 660px;
    border-radius: 10px;
}
.second-section-us{
    padding: 10px;
}
.second-section-us h3{
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 128, 68);
}
.second-section-us label nav{
   color: red;
   font-size: 1.4rem;
   padding-left: 5px;
}
.second-section-us label{
   font-size: 1.2rem;
   font-weight: bold;
}
.second-section-us .form-row .name,
.second-section-us .form-row .mail{
    padding-left: 10px;
    
}
.second-section-us .form-row div i:hover{
    color: rgb(0, 128, 68);
    
}
.second-section-us .btn{
    background-color: rgb(0, 128, 68);
    color: white;
    font-size: 1.8rem; 
}

.form-row .message{
    margin-top: 10px;
    padding-bottom: 350px;
    padding-top: 10px;
    flex-wrap: wrap;
    background-color: #efefef;
    outline: none;
    padding-left: 10px;
    padding-top: 20px;
}
.icons i{
    cursor: pointer;
    color: black;
    font-size: 2rem;
    top: 50px;
}
.icons i:hover{
    color: rgb(0, 128, 68);

}
.icons p{
    cursor: pointer;
    padding-left: 50px;
}

/********************** MEDIA **************************/

@media screen and (max-width: 912px){
    .second-section-us .form-cop  {
        display: block;
    }
    .form-row input{
        width: 300px;
    }
    .form-row  .message{
        width: 300px;
    }

   
}
@media screen and (max-width: 768px){
    .container-contact .container .image{
        display: block;
    }
    .container-contact .container h1{
        font-size: 2rem;
    }
    .container-contact .second-section-us .form-cop  {
        display: block;
    }
    .form-row input{
        width: 500px;
    }
    .form-row  .message{
        width: 500px;
    }
    .container-contact .container{
        display: block;
    }

    .second-section-us .btn{
        background-color: rgb(0, 128, 68);
        color: white;
        font-size: 1.2rem; 
    }
}
@media screen and (max-width: 540px){
    .container-contact{
        padding-top: 400px;
    }
    .second-section-us .form-cop  {
        display: block;
    }
    .form-row input{
        width: 300px;
    }
    .form-row  .message{
        width: 300px;
    }
    footer div, footer P{
        color: white;
        text-align: center;
        font-size: 1rem;
    }
    footer div{
        font-size: 1.4rem;
        font-weight: bold;
        padding-top: 10px;
    }
   
}
@media screen and (max-width: 280px){
    .second-section-us .form-cop  {
        display: block;
    }
    .form-row input{
        width: 200px;
    }
    .form-row  .message{
        width: 200px;
    }
    .first-section-us .icons {
        padding-left: -60px;
        gap: -60px;
    }
   
}