
.container-porfolio {
    padding-top: 130px
}

.container-porfolio  h1{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 128, 68);
}
.container-porfolio  h2{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 128, 68);
}

.container-porfolio  .images  img {
    width: 300px;
    height: 350px;
}
 .images-descript   P {
    font-size: 1.4rem;
    text-align: justify;
}
.container-porfolio .images-descript .image-descript p {
    text-align: justify;
    color: rgb(0, 128, 68);
    
}
.container-porfolio p {
    text-align: justify;
    font-size: 1.4rem;
    padding: 20px;
}
.container-porfolio .images-descript p {
    text-align: justify;
    font-size: 1.4rem;
}
.container-porfolio .images-descript  label {
    text-align: justify;
    font-size: 1.4rem;
    font-weight: bold;
    
}
.container-porfolio  a{
    color: blue;
}

@media screen and (max-width: 768px) {
    .container-porfolio {
        padding-top: 130px
    }
    
    
    .container-porfolio  h1{
        font-size: 1.8rem;
    }
    
}
@media screen and (max-width: 540px) {
    .container-porfolio{
        padding-top: 530px;
    }
}
